body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navbar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
}
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

/* Download-buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* FEATURES */
#features {
  text-align: center;
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.feature-box {
  padding: 5%;
}
.feature-box > i {
  font-size: 3em;
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-box > i:hover {
  color: #ff4c68;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}

/* TESTIMONIALS */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: white;
}
#testimonials > h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  /* padding-bottom: ; */
}
#press > img {
  width: 10%;
  margin: 40px 25px 30px;
}
.carousel-item {
  padding: 7% 15%;
}

/* PRICING */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1060px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
/* CALL TO ACTION */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 15% 7%;
}
#cta>h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

/* FOOTER */
#footer{
  background-color: white;
  text-align: center;
  padding: 3% 15% 7%;
}
.footer-icons{
  padding: 5% 1% 1%;
  margin-bottom: 1%; 
}